<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
  <h1>Empower Yourself with new Skills</h1>
  <br />
  <h2>Amazing courses to help you grow</h2>
  <br />
  <%= link_to 'Learn More', courses_path, class: 'btn btn-danger' %>
  <br /><br />
</div>
</div>
   <br />
  <div class="row feature text-center">
    <div class="col-12 col-sm">
      <h3>Quality Courses</h3>
      <br />
      <p>Choose from high quality courses to empower yourself with the help of experienced instructors. </p>
    </div>


    <div class="col-12 col-sm">
      <h3>Join our community</h3>
      <br />
      <p>Learn with a community of like-minded individuals where you can also share ideas and resources.</p>
    </div>

    <div class="col-12 col-sm">
      <h3>Study at your own pace</h3>
      <br />
      <p>Enroll and access a courses archive of lessons, stay ahead and be on top of your game</p>
    </div>
  </div>