<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
  <h1>Empower Yourself with new Skills</h1>
  <br />
  <h2>Amazing courses to help you grow</h2>
  <br />
  <%= link_to 'Learn More', courses_path, class: 'btn btn-danger' %>
  <br /><br />
</div>
</div>
   <br />
   <br />
   <br />
  <div class="row feature text-center">
    <div class="col-12 col-sm">
      <div class="fonts">
     <span class="fa fa-play-circle fa-3x"></span>
   </div>
      <h3>High quality videos</h3>
      <br />
      <p>Choose from high quality courses to empower yourself with the help of experienced instructors. </p>
    </div>



    <div class="col-12 col-sm">
      <span class="fa fa-users fa-3x"></span>
      <h3>Join Our Community</h3>
      <br />
      <p>Learn with a community of like-minded individuals where you can also share ideas and resources.</p>
    </div>
    <br />

    <div class="col-12 col-sm">
      <span class="fa fa-laptop fa-3x"></span>
      <h3>Learn At Your Own Pace</h3>
      <br />
      <p>Enroll and access a courses archive of lessons, stay ahead and be on top of your game</p>
    </div>
  </div>
  <br